<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Polygot Pal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>
  <body>
    <div>
      <h1 align="center"><b>Polygot Pal</b></h1>
      <p align="center">
        <img
          src="static/images/icon.png"®
          alt="Python-BOT"
          height="210"
          width="220"
        />
      </p>
      <div class="boxed">
        <div>
          <div id="chatbox">
            <div id="loadingIndicator" style="display: none">
              <img src="static/assets/loading/loading.svg" alt="Loading..." />
            </div>
          </div>
          <div id="userInput">
            <input type="text" id="textInput" placeholder="Message" name="msg">
            <button id="recordButton" class="btn-record icon-button">
              <i class="fa-solid fa-microphone-lines icon-button"></i>
            </button>
            <button
              id="stopButton"
              class="btn-stop icon-button"
              style="display: none"
              disabled
            >
              <i class="fa-regular fa-circle-stop"></i>
            </button>
            <button id="submit-btn" class="icon-button">
              <i class="fa-solid fa-play"></i>
            </button>
          </div>
          
        </div>
      </div>
    </div>
    <script src="static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script
      src="https://kit.fontawesome.com/a7a1647c0e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
