<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Polygot Pal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>
  <body>
    <div>
      <h1 align="center"><b>Polygot Pal</b></h1>
      <p align="center">
        <img
          src="static/images/icon.png"
          alt="Python-BOT"
          height="210"
          width="220"
        />
      </p>
      <div class="boxed">
        <div>
          <div id="chatbox">
            <p class="botText">
              <span>Hi! I'm your AI-Generative Chatbot</span>
            </p>
          </div>
          <div id="userInput">
            <input
              id="textInput"
              type="text"
              name="msg"
              placeholder="Message"
            />
          </div>
          <div>
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
            <audio id="audioPlayback" controls></audio>
          </div>
        </div>
      </div>
    </div>
    <script src="static/js/app.js"></script>
    <script src="https://kit.fontawesome.com/a7a1647c0e.js" crossorigin="anonymous"></script>
  </body>
</html>
